body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: gray;
  color: white;
}
input {
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
}
canvas {
  border: 10px solid #fff;
  border-radius: 10px;
  display: none;
}
#download-btn {
  display: none;
}
#download-btn,
#generate-btn {
  background-color: #008080;
  border: none;
  height: 38px;
  padding-inline: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-block: 20px;
}
#download-btn:hover,
#generate-btn:hover,
#download-btn:focus,
#generate-btn:focus {
  background-color: #2e535c;
  cursor: pointer;
}
#text {
  border: none;
}
